.clip-window {
    margin: 0 auto 30px auto;
    height: 555px;
}

.window-content {
    width: 100%;
    margin: 0 auto;
}


@media only screen and (max-width: 600px) {
    .clip-window {
        margin-left: 40px;
    }
} 