body {
    margin: 0;
    padding: 0;
}

.window {
    width: 500px;
    max-width: 500px;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}


@media only screen and (max-width: 600px) {
    .window {
        max-width: 300px;
    }
} 